<?xml version="1.0"?>

<model>
  <name>rover_18</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Swapnil Kumar</name>
    <email>jkswapnil99@gmail.com</email>
  </author>

  <description>
    Model of 2018-version of our rover.
    Loop link issue solved.
  </description>

</model>